* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    margin: 0;
    line-height: 1.5;
    color: #24292f;
    background-color: #ffffff;
}
 